{
  "presets": ["env"],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-es2015-shorthand-properties",
    "add-filehash",
    ["transform-imports", {
      "vuetify": {
         "transform": "vuetify/src/components/${member}",
         "preventFullImport": true
      }
    }]
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
