body {
  z-index: 0;
  padding: 0px;
  background: #041410;
  color: #979564;
  font-family: helvetica, sans-serif;
  font-size: 1.0em;
}
a { color: #979564; }
input[type=text] {
  border: solid 1px #979452;
  background: #041410;
  color: #fff;
  font-family: monospace;
  font-size: 1.3em;
}

#welcome {
  position: absolute;
  right: 60px;
  bottom: 60px;
  left: 60px;
  top: 60px;

  background: #0c1f1a;

  border: solid 4px #979452;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  padding: 20px;

  z-index: 3;
}

#top {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 34px;

  padding-top: 2px;
}

#bottom {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 25px;

  text-align: center;
}

#kibitz, #play {
  text-align: center;
}

#games {
  position: fixed;
  left: 10px;
  right: 10px;
  top: 34px;
  bottom: 35px;

  z-index: 1;
}

#ol, #l, #c, #r, #or {
  position: absolute;
  margin: auto;
  z-index: 2;

  top: 0px;
  bottom: 0px;

  height: 100%
}

#l, #r {
  width: 30%;
}

#l {
  left: 0px; 
  right: 70%;
}

#c {
  left: 30%;
  right: 30%;
  width: 40%;
}

#r {
  left: 70%;
  right: 0px;
}

.meta {
  position: absolute;
  left: 10px;
  right: 10px;
}

.top {
  top: 0px;
}

.bottom {
  bottom: 0px;
}

.stash {
  float: right;
}

.board:before {
	content: '';
	position: absolute;
  width: 90%;
  top: 50px;
  bottom: 50px;
  left: 10px;
  right: 10px;
}

.board {
  position: relative;
  margin: auto;
  color: #000;

  /* 1:1 Aspect Ratio */
	width: 100%;
	padding-top: 100%;
}

.square {
  float: left;

  position:  relative;
  text-align: center;

  width: 12.5%;
  height: 12.5%;
}

.under {
  z-index: -1;
}

.board .square:nth-of-type(2n) {
  background: #979452;
}

.board .square:nth-of-type(2n - 1) {
  background: #5e3c27;
}

.droppable {
  background: #745b38;
}
.selected {
  border: solid 1px #fff;
}

.rank_break {
  width: 0px;
  clear: both;
}
.ui-draggable {
  cursor: move;
}
.piece {
  width: 70%;
  margin: auto auto;
  font-size: 3.5rem;
}
.hidden { display: none; }

.ui-dialog, .meta {
  background: #0c1f1a;

  border: solid 2px #979452;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;

  padding: 10px 20px;
}
.ui-dialog {
  margin: auto auto;
}
#promotion {
  padding: 15px 30px;
}
.promotion_piece {
  float: left;
  margin-left: 6px;
  font-size: 26pt;
  cursor: pointer;
}
.promotion_piece_selected {
  border: solid 1px #979452;
}

/* buttons */
.awesome.blue { background-color: #1d2142 !important; }
.awesome.bold { font-weight: bold !important; }
.awesome.large { font-size: 1.2em !important; }

/* resets */
h2 { margin: 0px; }
