.board {
  border: 2px solid black;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  height: 64vw;
  width: 64vw;
  margin: 0 auto;
}

.row {
  display: flex;
  flex: 1;
  height: 8vw;
  width: 64vw;
  flex-direction: row;
}

.square {
  flex: 1;
  width: 8vw;
  height: 8vw;

  p {
    font-size: 7vw;
    line-height: 8vw;
  }

  .black {
    color: #000000;
  }

  .white {
    color: #ffffff;
  }
}

.row:nth-of-type(even) {
  .square:nth-of-type(even) {
    background-color: #cd853f;
  }

  .square:nth-of-type(odd) {
    background-color: #8b4513;
  }
}

.row:nth-of-type(odd) {
  .square:nth-of-type(even) {
    background-color: #8b4513;
  }

  .square:nth-of-type(odd) {
    background-color: #cd853f;
  }
}
