#games {
  position: fixed;
  left: 10px;
  right: 10px;
  top: 34px;
  bottom: 35px;

  .top {
    top: 0px;
  }

  .bottom {
    bottom: 0px;
  }
}

#outside-before, #before, #game, #after, #outside-after {
  position: absolute;
  margin: auto;

  top: 0px;
  bottom: 0px;

  height: 100%
}

#before, #after {
  width: 30%;
}

#before {
  left: 0px;
  right: 70%;
}

#game {
  left: 30%;
  right: 30%;
  width: 40%;
}

#after {
  left: 70%;
  right: 0px;
}
