body {
  padding: 0px;
  background: #041410;
  color: #979564;
  font-family: helvetica, sans-serif;
  font-size: 1.0em;
}
a { color: #979564; }
input[type=text] {
  border: solid 1px #979452;
  background: #041410;
  color: #fff;
  font-family: monospace;
  font-size: 1.3em;
}
