body {
  padding: 0px;
  background: #041410;
  color: #979564;
  font-family: helvetica, sans-serif;
  font-size: 1.0em;
}
a { color: #979564; }
input[type=text] {
  border: solid 1px #979452;
  background: #041410;
  color: #fff;
  font-family: monospace;
  font-size: 1.3em;
}

.stash {
  float: right;
}

.meta {
  position: absolute;
  left: 10px;
  right: 10px;
}

.selected {
  border: solid 1px #fff;
}

#promotion {
  padding: 15px 30px;
}
.promotion_piece {
  float: left;
  margin-left: 6px;
  font-size: 26pt;
  cursor: pointer;
}
.promotion_piece_selected {
  border: solid 1px #979452;
}

/* resets */
h2 { margin: 0px; }
