.stash {
  float: right;
}

.meta {
  position: absolute;
  left: 10px;
  right: 10px;
}

.selected {
  border: solid 1px #fff;
}

#promotion {
  padding: 15px 30px;
}
.promotion_piece {
  float: left;
  margin-left: 6px;
  font-size: 26pt;
  cursor: pointer;
}
.promotion_piece_selected {
  border: solid 1px #979452;
}
