nav {
  position: relative;
  cursor: pointer;

  h1 {
    margin: 0;
    padding-left: 10px;

    font-size: 2em;
  }

  ul {
    border: 1px solid white;
    display: none;
  }

  &:hover {
    ul {
      position: absolute;
      display: inline-block;

      margin: 0;

      top: 100%;
      left: 0;
    }
  }
}
