.board {
  position: relative;

  display: flex;
  flex-direction: column;

  top: 50px;
  bottom: 50px;
  left: 10px;
  right: 10px;

  margin: auto;
  color: #000;

  /* 1:1 Aspect Ratio */
	width: 100%;
	padding-bottom: 100%;

  ::before {
    content: "";
    position: absolute;
    width: 90%;
  }

  .rank:nth-of-type(even) {
    .square:nth-of-type(even) {
      background: #5e3c27;
    }

    .square:nth-of-type(odd) {
      background: #979452;
    }
  }

  .rank:nth-of-type(odd) {
    .square:nth-of-type(even) {
      background: #979452;
    }

    .square:nth-of-type(odd) {
      background: #5e3c27;
    }
  }

  &.flipped .rank:nth-of-type(even) {
    .square:nth-of-type(even) {
      background: #979452;
    }

    .square:nth-of-type(odd) {
      background: #5e3c27;
    }
  }

  &.flipped .rank:nth-of-type(odd) {
    .square:nth-of-type(even) {
      background: #5e3c27;
    }

    .square:nth-of-type(odd) {
      background: #979452;
    }
  }
}

.rank {
  display: inline-flex;
  flex-direction: row;

  margin: 0;

  left: 0;
  right: 0;

  height: 12.5%;
}

.square {
  margin: 0;

  text-align: center;

  width: 12.5%;
  max-height: 100%;

  ::before {
    content: "";
    position: absolute;

    /* 1:1 Aspect Ratio */
    width: 12.5%;
    padding-bottom: 100%;
  }
}

.piece {
  width: 70%;
  margin: auto auto;
  font-size: 3.5vw;
}
