const resolve = require("path").resolve

module.exports = {
  development: {
    client: "postgresql",
    database: "bughouse_development",
    user: "sonny",

    migrations: {
      directory: resolve(__dirname, "..", "db", "migrations")
    }
  },

  test: {
    client: "sqlite3",
    useNullAsDefault: null,

    connection: {
      filename: ":memory:"
    },

    migrations: {
      directory: resolve(__dirname, "..", "db", "migrations")
    }
  },

  staging: {
    client: "postgresql",

    connection: {
      database: "my_db",
      database: "bughouse_production",
      user: "root",
    },

    pool: {
      min: 2,
      max: 10
    },

    migrations: {
      directory: resolve(__dirname, "..", "db", "migrations")
    }
  },

  production: {
    client: "postgresql",

    connection: {
      database: "bughouse_production",
      user: "root",
    },

    pool: {
      min: 2,
      max: 10
    },

    migrations: {
      directory: resolve(__dirname, "..", "db", "migrations")
    }
  }
}
